<div class="sidebar">
  <ul class="list">
    <li class="item">
      <a href="/dashboard" class="item-link">
        Dashboard
      </a>
    </li>
    <li class="item">
      <a href="/dashboard/request" class="item-link">
        Request
      </a>
    </li>
    {{#if isAdmin}}
      <li class="item">
        <a href="/dashboard/list-request" class="item-link">
          Danh sách yêu cầu
        </a>
      </li>
      <li class="item">
        <a href="/dashboard/list-user" class="item-link">
          Danh sách người dùng
        </a>
      </li>
      <li class="item">
        <a href="/dashboard/classes" class="item-link">
          Quản lý lớp
        </a>
      </li>
    {{/if}}
  </ul>
</div>