.user-table {
  margin-top: 20px;
}

.tb-header {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  height: 40px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header-text {
}

.w-1 {
  width: 8.33%;
}

.w-2 {
  width: 16.66%;
}

.w-3 {
  width: 25%;
}

.w-4 {
  width: 33.33%;
}

.row {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  margin: 0;
  height: 40px;
}

.row-highlight {
  background-color: #f8f9fa;
}

.add-btn {
  display: flex;
  background-color: #0fa94d;
  color: white;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 15;
  text-decoration: none;
  border-radius: 4px;
}

/* switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 0;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex {
  display: flex;
}

.w-100px {
  width: 100px;
}

.justify-between {
  justify-content: space-between;
}
