.page {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  padding: 20px 16px;
  width: 200px;
  background-color: #222831;
}

.list {
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 12px;
}

.item:hover {
  background-color: white;
}

.item-link {
  color: white;
  width: 1005;
  cursor: pointer;
  padding: 6px 12px;
  text-decoration: none;
}

.item:hover,
.item:hover > a {
  color: black;
}

.dashboard {
  flex: 1;
}

.header {
  height: 50px;
  background-color: #222831;
}

.container {
  height: calc(100vh - 50px);
  padding: 16px;
  overflow: scroll;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.calender {
}
